:root{
  --primary-color: rgb(3, 141, 255);
}

* {
    box-sizing: border-box;  /* igual*/
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif; /* igual*/
  }

  h2{
    text-align: center;            /* igual solo que el color diferente */
    text-align: center;      
    color: var(--primary-color);
  }
  
  #loginForm {
    border: 1px solid #10e0e7;
    border-radius: 10px;
    padding: 50px;
    display: flex;                /* igual solo que el gap es diferente y el color del border */
    flex-direction: column;
    gap: 40px;
    margin: 50px auto;
    max-width: 400px;
  }

  label{
    color: var(--primary-color);      /* diferente por el color es necesario usar clase */
  }

  fieldset{
    border: none;   /* igual */
  }
  
  input {
    background-color: transparent;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--primary-color) ;  /* igual solo le cambia el color al border */
    width: 100%;
  }

  button{
    background-color: var(--primary-color);
    color: #fff;
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    border: none;                /* propiedades con mismo valor: border none, cursor padding margin border radiues y transition */
    cursor: pointer;                                                
    margin: auto;
    letter-spacing: 2px;
    transition: background 2s, color 2s;
  }
  
  button:hover {
    color: #000;
    background-color: #00ff6a;
  }
  
  p {
    margin-top: 5px;
    color: var(--primary-color);
    text-align: center;
  }
  
  a:hover {
    color: #12a9bd;
    text-decoration: underline;
  }

  input:focus-visible{
    outline: none;        /* igual*/
  }
  
  @media (max-width: 800px) {
    #loginForm {
      padding: 15px;
      max-width: 90%;
    }
  
    input {
      padding: 8px;
    }                        /* en el responsive lo unico diferente el button */
  
    button{
      padding: 8px 15px;
    }
  
  }
  