*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #registroForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    border: 1px solid  #00ff6a;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
  }

  h2{
    text-align: center;
  }

  fieldset{
    border: none;
  }

  option{
    color: #fff;
    background-color: #000;
  }
  
  input, select {
    border: none;
    border-bottom: 1px solid rgb(94, 255, 0);
    padding: 10px;
    width: 100%;
  }

  button{
    background-color: #0e1ca0c4;
    color: #f3f3f3;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #10b7bd;
  }

  input, select:focus-visible{
    outline: none;
  }
  
  @media (max-width: 800px) {
    #registroForm {
      padding: 10px;
    }
    
    input, select {
      padding: 5px;
    }
    
    button{
      padding: 5px 10px;
      font-size: 14px;
    }
  }
  