* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p {
    color: #fff;
}

a, a:link, a:visited {
    color: rgb(255, 254, 254);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    min-height: 70dvh;
    width: 100%;
    background: url('../img/fondoh.jpg') center/cover no-repeat fixed;
}

h1{
    flex-grow: 3;
}

.navbar{
    flex-grow: 1;
}

.navbar__item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#menu , label {
    cursor: pointer;
    display: none;
}

.historia {
    min-height: 30dvh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #111111;
}

.historia__item {
    border-bottom: 1px solid #ff00dd;
}

.dango {
    width: 300px;
    border-radius: 35px;
}

.productos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70dvh;
    background: url('../img/fondos.jpg') center/cover no-repeat fixed;
}

.servicios {
    width: 100%;
    min-height: 30dvh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #111111;
}

.reseñas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70vh;
    background: url('../img/fondou.jpg') center/cover no-repeat fixed;

}

.reseñas__items {
    text-align: center;
    background-color: rgba(132, 134, 134, 0.137);
    border-radius: 5px;
}

footer {
    padding: 10px;
    background-color: black;
}

@media(max-width: 800px) {

    label {
        display: initial;
    }

    .navbar {
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        min-height: 10%;
        background: #6666661a;
        display: none;
    }

     .navbar__item{
        margin-right: 20px;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: end;
     }

    #menu:checked~.navbar {
        display: initial;
    }

    .historia, .servicios, .reseñas {
        flex-direction: column;
        text-align: center;
    }

    .dango {
        margin-top: 10px;
    }

}