:root{
    --dark-color: #1f1f1f;
}

* {                              /* despues le hago un modularizado en si se repite un poco el patron de diseño*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p {
    color: #fff;
}

a, a:link, a:visited {
    color: rgb(255, 254, 254);
}

.header {
    min-height: 70dvh;
    width: 100%;
    background: url('../img/fondoh.jpg') center/cover no-repeat fixed;
}

.navbar{
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    flex-grow: 2;
}

.navbar__item{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#menu , label {
    cursor: pointer;
    display: none;
}

.info {
    min-height: 30dvh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--dark-color);
}

.historia__item {
    border-bottom: 1px solid #ff00dd;
    max-width: 50%;
}

.dango {
    width: 300px;
    border-radius: 35px;
}

.info-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70dvh;
    background: url('../img/fondos.jpg') center/cover no-repeat fixed;
}

.items--info {
    justify-content: space-around;
    flex-wrap: wrap;
    background: url('../img/fondou.jpg') center/cover no-repeat fixed;
}

.reseñas__items {
    text-align: center;
    background-color: rgba(132, 134, 134, 0.137);
    border-radius: 5px;
    max-width: 20%;
}

footer {
    text-align: center;
    padding: 1.5rem;
    background-color: var(--dark-color);
}

@media(max-width: 800px) {

    label {
        display: initial;
    }

    .navbar__item {
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        background:  #0000004f;
        flex-direction: column;
        align-items: start;
        display: none;
    }

    li{
        margin: 10px 0 10px 10px;
    }

    #menu:checked~.navbar__item {
        display: flex;
    }

    .info, .info-2 {
        flex-direction: column;
        text-align: center;
    }

    .dango {
        margin-top: 10px;
    }

}